/* NavBar */

.nav {
    position: sticky;
    top: 0%;
    z-index: 2;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #000000;
}


.navLogo img {
    width: 60px;
    height: 50px;
    margin: 1rem 0 0 3rem;
    transition: 0.4s;
}

.navLogo img:hover {
    transform: scale(1.1);
}

.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

/* Fin NavBar */

/*  Menu Hamburguesa */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 26px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__box a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

.menu__box a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.2em;
    background-color: rgb(33, 23, 118);
    transition: all 0.2s ease-in-out;
}

.menu__box a:hover {
    color: rgb(33, 23, 118);
}

.menu__box a:hover:before {
    height: 1.3rem;
}

.textMenu a:hover:before {
    height: 2rem;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.textMenu {
    text-align: center;
    font-size: 1.3125em;
    font-weight: 700;
    letter-spacing: -.02rem;
}

.textMenulist {
    font-size: .875em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    display: block !important;
}

.menu__box hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid black;
    opacity: .25;
}

.textMenu a.active::before {
    background-color: rgb(33, 23, 118);
    height: 2rem;
    transition: all 0.2s;
}

.textMenulist a.active::before {
    background-color: rgb(33, 23, 118);
    height: 2rem;
    transition: all 0.2s;
}

/* Fin Menu Hmaburguesa */

/* Inicio Home */

.home {
    width: 100%;
    height: 1000px;
    padding-top: 150px;
    background: #ffffff;
    background-image: url(../src/assets/img/printstream.jpg);
    background-size: cover;
    background-position: center;
    top: 0%;
    width: 100%;
}

.titleHome {
    width: 100%;
    height: 100%;
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titleHome h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    margin-top: 80px;
    color: #000000;
    letter-spacing: -.02em;
}

.titleHome p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.wave {
    width: 100%;
    height: 350px; 
    overflow: hidden;
}

.svgSty {
    height: 100%; 
    width: 100%;
}

.svgSty2 {
    stroke: none; 
    fill: #ffffff;
}

.tittleP {
    background-color: #000000;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    box-shadow: 10px 0 10px 0 #656363;
}

.tittleP h2{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -.02em;
    line-height: 1.25;
}

.contenedor-colecciones {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    height: 100%;
    padding-top: 15px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.productsImg {
    margin: 80px 80px 80px 80px;
}

/* Fin Home */

/* ListContainer */

.tittleColections {
    background-color: #000000;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    box-shadow: 10px 0 10px 0 #fa0000;
}

.tittleColections h2{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -.02em;
    line-height: 1.25;
}

.container-lg {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    height: 100%;
    padding-top: 15px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

/* Fin ListContainer */

/* Item Cards */

.card {
    transition-duration: 0.2s;
    width: 316px;
    height: 29rem;
    overflow: hidden;
    text-align: center;
    border: 0.2px solid rgb(205, 205, 205);
    border-radius: 5px;
    margin: 5px;
} 

.card:hover {
    transform: scale(1.01);
}

.card .product-info p {
    font-size: 18px;
    margin-top: 0.3rem;
    font-weight: 500;
}

.card .product-image {
    width:310px;
    margin: 20px auto; 
}

.card .product-image img {
    width: 100%;
    border-radius: 10px;

}

.card .product-info h4 {
    font-size: 0.95rem;
    font-weight: 700;
}

.card .btn-p {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    background: #010101;
    outline: none; 
    cursor: pointer;
    border: 0 0 0 0 solid #c2c5aa;
    border-radius: 0 0 5px  5px ;
}

.card .btn-p h2{
    font-size: 20px;
    letter-spacing: 0,02rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
}

.btn-p .button:hover {
    background-color: rgba(194, 197, 170, 0.5);
    color: #000; 
}

/* Fin ItemCards */

/* Inicio ItemDetail */

.container-detail {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
}

.cardDetailImg {
    width: 716px;
    border: 0.2px solid rgb(205, 205, 205);
}

.cardDetailImg img {
    margin: auto;
}

.cardDetailPrice {
    width: 316px;
    height: 30rem;
    overflow: hidden;
    text-align: center;
} 

.cardDetailPrice .product-info p {
    font-size: 18px;
    padding: 0 25px;
    margin-top: 1rem;
    font-weight: 500;
}

.cardDetailPrice .product-image {
    width: 330px;
    margin: 20px auto; 
}

.cardDetailPrice .product-image img {
    width: 100%;
    border-radius: 10px;
}

.cardDetailPrice hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
}

.cardDetailPrice .btn-p {
    width: 100%;
    padding: 10px;
    background: #f3f6db;
    border: 1px solid #c2c5aa;
    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.product-info h4 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 25px;
    margin-top: 20px;
}

.product-details h4 {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin: 1rem 0 1rem 0 ;
}
.product-details p {
    margin-top: 1rem;
    text-align: justify;
    font-weight: 400;
}

.btn-p .button:hover {
    background-color: rgba(194, 197, 170, 0.5);
    color: #000; 
}

/* Fin ItemDetail */

/* ItemCount */

.buttons-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}

.buttons-cart Button {
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
    background-color: whitesmoke;
    margin-left: .3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.buttons-cart p {
    padding: 0;
    margin: 0;
}

.buttons-cart h4 {
    margin-left: .8rem;
}

.buttons-add-cart Button {
    width: 95%;
    margin-bottom: .4rem;
}

.btnCart {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.btnCart h3{
    color: white;
}

/* Fin ItemCount */

/* Cart */

.tittleCart {
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.cart-view {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.cart {
    margin: auto;
    width: 700px;
}

.cart-items {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-height: 100px;
}

.item img {
    max-width: 100px;
    margin-right: 15px;
    margin-left: 10px;
}

.item-details {
    flex: 1;
    margin-left: 10px;
    font-size: 1em;
    font-weight: 700;
    color: #000;
}

/* Cart Total Final */

.cart-total {
    width: 316px;
    height: 220px;
    margin: 0 auto auto auto;
}

.valores-total {
    margin-bottom: 3.6rem;
}

.valores-total p {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
}

/* Boton Vaciar Carrito */ 

.button_slv {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    /* background-color: #ff4655; */
    background-color: rgb(255, 0, 0);
    transform: skew(-15deg);
    transition: all .3s ease;
}

/* Finalziar pedido Boton Estilos */

.checkout-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    margin: 20px 0 0 0;
}

.checkout-btn::before,
.checkout-btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.checkout-btn::before {
    top: 0;
    border-bottom-width: 0;
}

.checkout-btn::after {
    bottom: 0;
    border-top-width: 0;
}

.checkout-btn:active,
.checkout-btn:focus {
    outline: none;
}

.checkout-btn:active::before,
.checkout-btn:active::after {
    right: 3px;
    left: 3px;
}

.checkout-btn:active::before {
    top: 3px;
}

.checkout-btn:active::after {
    bottom: 3px;
}

.checkout-btn:hover {
    color: #0f1923;
}

.checkout-btn:hover .button_sl {
    width: calc(100% + 15px);
}

.checkout-btn:hover .button_slv {
    width: calc(100% + 15px);
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 10px;
    color: #fff;
    background-color: #000000;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    /* background-color: #ff4655; */
    background-color: rgb(15, 7, 85);
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

/* Fin Checkout Boton Estilos */

/* No Items */

.no-items {
    height: 400px;
    text-align: center;
    margin: 22rem 0 0 0;
}

.no-items h1{
    font-size:3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.no-items button {
    font-size: 18px;
    color: #1a1919;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.no-items button:focus,
.no-items button:hover {
    color: #000000;
}

.no-items button:focus:after,
.no-items button:hover:after {
    width: 100%;
    left: 0%;
}

.no-items button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Fin No Items */

/* SendOrder */

.tittleCheckout {
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.checkout-view {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.checkout-card {
    margin: auto;
    width: 600px;
}

.checkout-card {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-inf {
    display: flex;
}

/* Checkout items */

.checkout-products {
    margin: auto;
}

.checkout-items {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkout-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-height: 100px;
}

.checkout-item img {
    max-width: 100px;
    margin-right: 15px;
    margin-left: 10px;
}

.checkout-item-details {
    flex: 1;
    margin-left: 10px;
    font-size: 1em;
    font-weight: 700;
    color: #000;
}

/* Cart Total Final */

.cart-total {
    width: 316px;
    height: 220px;
    /* padding: 20px 20px 0px 20px; */
    border-radius: 5px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.cart-total p {
    margin-bottom: 10px;
}



/* Botones y Formulario final */ 

.textInputWrapper {
    position: relative;
    width: 300px;
    margin: 12px 5px;
    --accent-color: #000000;
}

.textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
}

.textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
}

.textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(0, 0, 0, 0.582);
}

.textInputWrapper .textInput {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background-color: #fcfbfb;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
    outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
    background-color: #ffffff;
}

.textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
}

/* Fin Checkout */

/* Footer */

.foOter {
    justify-content: center;
    display: flex;
}

.foOter footer {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #777;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 1rem 0;
    display: flex;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer span {
    color: #777;
}

/* Fin Footer */

@media screen and (max-width: 1024px) {

/* SendOrder */

.checkout-view {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.checkout-card {
    margin: auto;
    width: 316px;
    list-style: none;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.personal-inf {
    display: flex;
    flex-direction: column-reverse;
}

.checkout-item-details {

    text-align: start;
}

/* Cart Total Final */

.cart-total {
    width: 350px;
    margin: 0 auto auto auto;
}

.cart-total p {
    margin-bottom: 10px;
}

/* Botones y Formulario final */ 

.textInputWrapper {
    position: relative;
    width: 300px;
    margin: 12px 5px;
    --accent-color: #000000;
}

.textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
}

.textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
}

.textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(0, 0, 0, 0.582);
}

.textInputWrapper .textInput {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background-color: #fcfbfb;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
    outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
    background-color: #ffffff;
}

.textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
}

}

@media screen and (max-width: 990px) {

/* Cart */

.cart-view {
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.cart {
    margin: auto;
    width: 700px;
}

.item-details {
    font-size: 1em;
}

/* Cart Total Final */

.cart-total {
    width: 350px;
    margin: 0 auto auto auto;


    font-size: 0.9rem;
}

/* Checkout Boton Estilos */

.checkout-btn {
    font-size: 12px;
}

/* Fin Checkout Boton Estilos */


}

@media screen and (max-width: 768px) {

    .cart {
        width: 100%;
        ;
    }

    .item .botones-cart {
        margin: auto;
    }

    .item-details {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {

    .titleHome h1 {
        font-size: 3rem;
    }
    
    .titleHome p {
        font-size: 17px;
    }

    .item-details {
        font-size: 0.9rem;
        margin: 0 20px 10px 0 ;
    }
    .item {
        flex-wrap: wrap;
        max-height: 300px;
    }
}